.deps
*.lo
*.la
.libs
.idea
.DS_Store
.dockerignore
Dockerfile
debug
debug.php
php
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
install-sh
libtool
ltmain.sh
ltmain.sh.backup
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
tmp-php.ini
cmake-build-debug
CMakeLists.txt
local_test.php
xlswriter-*.tgz
benchmark.c
