[submodule "library/libxlsxwriter"]
	path = library/libxlsxwriter
	url = https://github.com/jmcnamara/libxlsxwriter.git
	branch = RELEASE_0.7.9
[submodule "library/libexpat"]
	path = library/libexpat
	url = https://github.com/libexpat/libexpat.git
	branch = R_2_2_7
[submodule "library/libxlsxio"]
	path = library/libxlsxio
	url = https://github.com/brechtsanders/xlsxio.git
	branch = 0.2.21
